body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* header */

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address-nav,
.site-nav {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    text-decoration: none;
    display: block;
    
}

.logo:focus,
.logo:active {
    color: #404bbf;
}

.span-logo {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.btn-burger {
    padding: 0;
    background-color: transparent;
    border: none;
    
}
.icon-btn-burg {
    display: block;
    fill: #2F2F37;
}
@media screen and (min-width: 768px) {
    .btn-burger {
        display: none;
    }
    .navigation {
        padding: 0 15px 0 15px;
        display: flex;
        align-items: center;
    }
    .logo {
        padding: 24px 0;
        
    }
    .site-nav {
        font-weight: 500;
        font-style: normal;
        color: #2E2F42;
        font-size: 16px;
        list-style-type: none;
        letter-spacing: 0.02em;
        flex-direction: row;
        display: flex;
        gap: 40px;  
       
    }
    .link,
    .link-one {
        color: #2E2F42;
        text-decoration: none;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
    }    
    .link-one {
        color: #404bbf;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }    
    .link:hover,
    .link:active,
    .link:focus {
        color: #404BBF;
    }    
    .link-one::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    .had-address {
        font-style: normal;
        
    }
    .address-nav {
        font-weight: 400;  
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        list-style-type: none; 
        display: block;
        flex-direction: column;
        gap: 12px;                
    }
    .address-link {
        text-decoration: none;
        color: #434455;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-link:hover, .address-link:focus {
        color: #404BBF;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    
    .address-nav {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        flex-direction: row;
        gap: 40px;        
    }
    .address-link {
        line-height: 1.5;
        letter-spacing: 0.02em;       
    }
}
/* hero */
.main-section {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    padding-right: 52px;
    padding-left: 52px;
    align-content: center;
    margin: 0;
            
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;        
}
.head-title {
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2%;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .main-section {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        height: auto;
    }
    .head-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;        
    }
}
@media screen and (min-width: 1158px) {
    .main-section {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }    
}
.main-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;        
    border: none;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/* second section */
.second-section {
    padding: 96px 16px;
}
.feature {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}
.feat-items {
    flex-wrap: wrap;
}
.box-icons {
    display: none;
}
.feat-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;   
}
.feat-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
    .second-section {
        padding: 96px 16;
    }
    .feature {
        gap: 8px;
        flex-direction: row;
        flex-wrap: wrap;      
    }
    .feat-items {             
        flex-basis: calc((100% - 1 * 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .second-section {
        padding: 120px 0;
    }
    .feature {
        gap: 24px;
    }
    .box-icons {
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background: #e7e9fc;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        margin-bottom: 8px;    
    }
    .icon {        
        width: 64px;
        height: 64px;
    }
    .feat-items {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .feat-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 8px;
    }
    .feat-text {
        font-weight: 200;        
    }
}
/* team section */
.team-section {
    background-color: #F4F4FD;
    padding: 96px 28px;
    justify-content: center;
}
.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list-bloks {
    display: flex;
    gap: 72px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.team-list-box {
    background-color: #FFFFFF;
    display: block;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    padding: 0;
}
.box-name {
    padding: 32px 16px;
}
.team-name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-text,
.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}
.social-link-list {
    display: flex;
    list-style-type: none;
    background-color: #FFFFFF;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.social-link,
.social-link-foot {
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus,
.icons:hover {
    background-color: #404BBF;
}
.icon-link,
.icon-link-foot {
    width: 40px;
    height: 40px;
}
.icons,
.icons-foot {
    background-color: #4D5AE5;
    fill: #f4f4fd;
}

.icons:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .team-section {        
        padding: 108px 96px;     
    }
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }
    .team-list-bloks {
        display: flex;
        gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
        .team-list-box {
        margin-bottom: 64px;
        width: calc((100% - 24px) / 2);
        max-width: 264px; 
    }    
}
@media screen and (min-width: 1158px) {
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;   
    }
    .team-list-bloks {
        gap: 24px;
    }
    .team-list-box {
        width: calc((100% - 72px) / 4);
    }
    .box-name {
        padding: 32px 0;
    }
    .team-title {
        font-weight: 500;
    }
}
/* portfolio section */
.portfolio-section {
    padding: 96px 16px;
    justify-content: center;
}
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    align-items: center;
}
.portfolio-list-blocks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 48px;    
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}
.portfolio-image {
    object-fit: contain;
    overflow: hidden;
}
.portfolio-box {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
    text-align: left;
}
.portfolio-list-blocks-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: left;
    margin-right: 76px;
    margin-bottom: 8px;
}
.port-disscr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 288px;
}




